FINNHUB_API_KEY=
FMP_API_KEY=
COINGECKO_API_KEY=
ETHERSCAN_API_KEY=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT="gem-picker/0.1 by u/<your_reddit_username>"
SEC_EDGAR_CONTACT_EMAIL=qbuiforwork@gmail.com

GEMPICKER_TRADE_USD=5.00
STOCK_SHORTLIST_SIZE=8
CRYPTO_SHORTLIST_SIZE=8
STOCK_MIN_MARKET_CAP=50000000
STOCK_MAX_MARKET_CAP=2000000000
STOCK_MIN_AVG_DOLLAR_VOLUME=500000
CRYPTO_MARKET_CAP_FLOOR=10000000
CRYPTO_TOP_RANK_EXCLUSION=100
